DEBUG=True
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
DJANGO_SECRET_KEY=gNCbtiguLq7fLcl8OzaNFfNB3tRaXLD5uOrW
PGADMIN_PW=password
PGADMIN_MAIL=user@mail.com